@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f4f9f9;
}
/* Input Feild */
.input-feild {
  padding: 2rem 0 1rem 0;
  margin-bottom: 1rem;
}
.input-feild input {
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
  background-color: #fefefe;
  height: 30px;
  width: 70%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.input-feild input:placeholder-shown {
  text-align: center;
}
/* Input feil Btns */
.sort-by-btns {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sort-by-btns span {
  text-transform: uppercase;
}
.sort-by-btns button {
  margin-left: 5px;
  padding: 0.7rem 2rem;
  text-transform: capitalize;
  background-color: rgb(56, 56, 56);
  border: 1px solid #242424;
  color: #fff;

  border-radius: 5px;
}
.sort-by-btns button:hover {
  cursor: pointer;
  margin-left: 5px;
  background-color: #eee;
  color: #242422;
  padding: 0.7rem 2rem;
  text-transform: capitalize;
  border-radius: 5px;
  border: 1px solid #242424;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Single card */
.card {
  position: relative;
  margin: 0 4rem;
  margin-bottom: 6rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 100%;
  top: 0;
  transition: all ease 0.5s;
}

.card:hover {
  top: -10px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: #ff4848;
}

.card .text {
  text-align: left;
  background: linear-gradient(45deg, #414141, #000000);
  color: #fff;
  padding: 1rem 2rem;
  padding-right: 0;
  margin-bottom: 0.3rem;
  font-size: 1.15rem;
}

.card .image {
  background-position: 400%;
  background: linear-gradient(45deg, #414141, #000000);
  transition: all ease 1s;
}

.card .image:hover {
  background: linear-gradient(45deg, #585858, #000000);
}

.stats-table {
  background: linear-gradient(45deg, #eee, #fefefe);
  width: 100%;
  padding: 1.1rem 0;
  color: #ff2626;
}

.know-more {
  text-transform: lowercase;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  background: linear-gradient(45deg, #414141, #000000);
  color: #fff;
  border: none;
  transition: all ease-in-out 1s;
  cursor: pointer;
}

.more-details {
  background-color: #fff;
  padding: 0.5rem 2rem;
  text-align: left;
  display: none;
  height: 0%;
}
.show {
  display: block;
}

.skills{
  color: #fff;
}
.skills-container{
  margin-bottom: .3rem;
}

.skills-heading{
  border-radius: 2px;
  padding: .1rem .3rem;
  background-color: #444444;
}
.skills-value{
  margin-left: .4rem;
  border-radius: 2px;
  padding: .1rem .3rem;
  background-color: #171717;
}

.info{
  color: #fff;
}
.info-container{
  margin-bottom: .3rem;
}

.info-heading{
  border-radius: 2px;
  padding: .1rem .3rem;
  background-color: #444444;
}
.info-value{
  border-radius: 2px;
  padding: .1rem .3rem;
  margin-left: .4rem;
  background-color: #171717;
}